{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <h2 class="border-bottom mb-4", style="text-align:center;">New Post</h2>
    <form class="ui form post" method='POST'>
        <div class="fields">
            <div class="disabled four wide field">
                <label>Module Code</label>
                <input id="mods" name="mods" type="text" placeholder="{{ cid }}"> 
            </div>
            <div class="disabled twelve wide field">
                <label>Forum Title</label>
                <input id="ftitle" name="ftitle" type="text" placeholder="{{ forum.title }}"> 
            </div>
        </div>
        <div class="required field">
            <label>Post Title</label>
            <input id="title" name="title" placeholder="Enter a post title">
        </div>
        <div class="required field">
            <label>Comment</label>
            <textarea rows="8" id="content" name="content" placeholder="Enter a comment"></textarea>
        </div>
        <div class="field text-center">
                <div class="ui teal submit button">Submit</div>
            <div class="ui reset button">Clear</div>
            <div class="ui error message"></div>
        </div>
    </form>         
</div>
{% endblock content %}