{% extends "layout.html" %}
{% block search %}
    <form method = "POST" action = "">
        <div>
            <table>
                <td><input type = "text" name = "search" id = "search" placeholder = "Search for Module Codes" class = "form-control left rounded" style = "margin-bottom:3%; width:150%"></td>
                <td><button type = "submit" class = "btn btn-outline-info" style = "display:inline; margin-left:150%">Submit</button></table></td>
            </table>
        </div>
    </form>
{% endblock search %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4", style="text-align:center;">Available Modules</legend>
        {% if courses %}
        <table class="table table-hover border-bottom pt-1 mb-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Module Code</th>
                    <th scope="col">Module Name</th>
                </tr>
            </thead>
            <tbody>
                {% for module in courses.items %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td style="width: 15%"><a href="{{ url_for('module', cid=module.cid) }}">{{ module.cid }}</a></td>
                        <td style="width: 80%">{{ module.cname }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align:center;">
            {% for page_num in courses.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if courses.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('module_search', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <table class="table table-hover border-bottom pt-1 mb-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Module Code</th>
                    <th scope="col">Module Name</th>
                </tr>
            </thead>
            <tbody>
                {% for module in courses_show.items %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td style="width: 15%"><a href="{{ url_for('module_search', courses_show=module.cid) }}">{{ module.cid }}</a></td>
                        <td style="width: 80%">{{ module.cname }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align:center;">
                {% for page_num in courses_show.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if courses_show.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('module_search', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}
