{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <div>
        {% if 'Professor' not in current_user.roles() %}
        {% if status == "taken" %}
            <button type="button" class="btn btn-secondary" disabled style="float: right">Taken</button>
        {% elif status == "taking" %}
            <button type="button" class="btn btn-secondary" disabled style="float: right">Enrolled</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#WithdrawModal" style="float: right">
                Withdraw
            </button> 
            <div class="modal fade" id="WithdrawModal" tabindex="-1" role="dialog" aria-labelledby="WithdrawModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="WithdrawModalLabel">Alert</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to withdraw from this module? <br>We will miss you!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="{{ url_for('module_withdraw', cid=module.cid) }}" method='POST'>
                                <input class="btn btn-danger" type="submit" value="Confirm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% elif status == "nil" %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EnrolModal" style="float: right">
            Enrol
        </button>      
        <!-- Modal -->
        <div class="modal fade" id="EnrolModal" tabindex="-1" role="dialog" aria-labelledby="EnrolModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EnrolModalLabel">Take Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to enrol into this module? <br>There is no going back!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="{{ url_for('module_enrol', cid=module.cid) }}" method='POST'>
                            <input class="btn btn-success" type="submit" value="Confirm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <h4>{{ module.cid }}</h4>
        <h2>{{ module.cname }}</h2>
        <p class="text-muted">Modular Credit: 4<br>
        {% if status == "unavailable" %}
            <b style="font-style: italic">This module is not available for this semester!</b>
        {% else %}
             {{ cur_year }} Semester {{ cur_sem }}
        {% endif %}
        </p>
    </div><br><br>
    <div style="border-top: 2px solid; border-color: #b0b9c0; padding: 10px">
        <h5>Module Description</h5>
        <p>The BEST module in the world! Enrol today!</p>
    </div>
    <div style="border-top: 2px solid; border-color: #b0b9c0; padding: 10px">
        <h5>Module Statistics</h5>
        <table class="table table-bordered table-hover table-striped">
            <thead class = "thead-dark">
                <tr>
                    <th>Academic Year</th>
                    <th>Semester</th>
                    <th>Average GPA</th>
                </tr>
            </thead>
            <tbody>
                {% for results in results %}
                <tr>
                    <th>{{ results[0] }}</th>
                    <th> {{ results[1] }}</th>
                    <th>{% if results[2] == 0 %}NIL{% else %}{{ results[2] }}{% endif %} </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block bread %}
<div class="ui right fixed secondary vertical inverted menu hidden-sidebar" id="bread-bar" style="text-align: center; min-width: 20rem; padding-top: 5rem; background-color: black; background:rgba(0, 0, 0, 0.5); overflow: auto">
    <div class="bread-header" style="color: white; font-size: 14pt"><i class="icon compass outline mr-2"; style="color: white"></i>Navigation</div>
    <div class="ui breadcrumb" style="background-color: transparent;">
		<a class="section unrefany" href="{{ url_for('home') }}"><div class="menu-dropdown-item bread-header">Home</div></a>
        <br><br><i class="down chevron icon divider" style="color: white"></i><br><br>
        {% if 'Professor' not in current_user.roles() %}
        <a class="section unrefany" href="{{ url_for('module_search') }}"><div class="menu-dropdown-item bread-header">Module Search</div></a>
        {% else %}
        <a class="section unrefany" href="{{ url_for('prof_module_search') }}"><div class="menu-dropdown-item bread-header">Module Search</div></a>
        {% endif %}
		<br><br><i class="down chevron icon divider" style="color: white"></i>
		<br><br><div class="active section bread-header" style="color: white">Module: {{ module.cid }}</div>
	</div>
</div>
{% endblock bread %}