{% extends "layout.html" %}
{% block search %}
    <form method = "POST" action = "">
        <div>
            <table>
                <td><input type = "text" name = "search" id = "search" placeholder = "Search for Module Codes" class = "form-control left rounded" style = "margin-bottom:3%; width:150%"></td>
                <td><button type = "submit" class = "btn btn-outline-info" style = "display:inline; margin-left:150%">Submit</button></table></td>
            </table>
        </div>
    </form>
{% endblock search %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4", style="text-align:center;">Available Modules</legend>
        {% if courses.pages %}
            <table class="table table-hover border-bottom pt-1 mb-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Module Code</th>
                        <th scope="col">Module Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in courses.items %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td style="width: 15%"><a class="unref" href="{{ url_for('module', cid=module.cid) }}">{{ module.cid }}</a></td>
                            <td style="width: 72%"><a class="unref" href="{{ url_for('module', cid=module.cid) }}">{{ module.cname }}</a></td>
                            <td style="width: 15%">
                                {% if taken.query.filter_by(sid=current_user.id, cid=module.cid).filter(taken.year!=cur_year or (taken.year==cur_year and taken.sem<cur_sem)).first() %}
                                    <b class="text-muted">Taken</b>
                                {% elif taken.query.filter_by(sid=current_user.id, cid=module.cid, year=cur_year, sem=cur_sem).first() %}
                                    <b>Enrolled</b>
                                {% elif prof.query.filter_by(cid=module.cid).first() == none %}
                                    <b class="text-muted">Unavailable</b>
                                {% else %}
                                    <b style="color: #1fb126">Available</b>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if courses.pages > 1 %}
                <div style="text-align:center;">
                    {% if courses.page == 1 %}
                        <a class="btn btn-outline-info mb-4 disabled" href="{{ url_for('module_search', query=query, page=1) }}">&#8810;</a>
                        <a class="btn btn-outline-info mb-4 disabled" href="{{ url_for('module_search', page=courses.prev_num) }}">&lt;</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', query=query,  page=1) }}">&#8810;</a>
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', query=query,  page=courses.prev_num) }}">&lt;</a>
                    {% endif %}
                    {% for page_num in courses.iter_pages(left_edge=0, right_edge=0, left_current=1, right_current=2) %}
                        {% if page_num %}                   
                            {% if courses.page == page_num %}
                                <a class="btn btn-info mb-4">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', query=query,  page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if courses.page == courses.pages %}
                        <a class="btn btn-outline-info mb-4 disabled" href="{{ url_for('module_search', query=query,  page=courses.next_num) }}">&gt;</a>
                        <a class="btn btn-outline-info mb-4 disabled" href="{{ url_for('module_search', query=query,  page=courses.pages) }}">&#8811;</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', query=query,  page=courses.next_num) }}">&gt;</a>
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('module_search', query=query,  page=courses.pages) }}">&#8811;</a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <h6 class="text-center" style="border-bottom: 2px solid; border-color: #b0b9c0">Module does not exist!</h6>
        {% endif %}
    </div>
{% endblock content %}
