{% extends 'layout.html' %}
{% block content %}
    <section id="tabs">
        <div class="container">
            <h2 class="border-bottom mb-4", style="text-align:center;">My Modules</h2>
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="enrolled-tab" data-toggle="tab" href="#enrolled" role="tab" aria-controls="enrolled" aria-selected="true" style="width: 555px">Enrolled Modules</a>
                            <a class="nav-item nav-link" id="taken-tab" data-toggle="tab" href="#taken" role="tab" aria-controls="taken" aria-selected="false" style="width: 555px">Taken Modules</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="enrolled" role="tabpanel" aria-labelledby="enrolled-tab">
                            <div class="container-fluid mt-4">
                                {% if takingmods.first() %}
                                <div class="row justify-content-left">
                                        {% for takingmod in takingmods %}
                                            <div class="col-auto mb-3">
                                                <a class="card" href="{{ url_for('module', cid=takingmod.cid) }}" style="width: 15rem; height: 15rem">
                                                        <div class="card-body">
                                                            <h6 class="card-subtitle mb-2 text-muted"><small>{{ takingmod.cid }}</small></h6>
                                                            <h6 class="card-title">{{ mods.query.filter_by(cid=takingmod.cid).first().cname }}</h6>
                                                            <p class="card-text"></p>
                                                        </div>
                                                    <span class="card-footer" style="background-color: #a1b4c2; color: #e8ebee">
                                                        <small>2019/2020 Semester 1</small><br>
                                                        <small>{{ profs.query.filter_by(cid=takingmod.cid).first().name }}</small>
                                                    </span>
                                                </a>
                                            </div>
                                        {% endfor %}        
                                </div>
                                {% else %}
                                    <h6 class="text-center" style="border-bottom: 2px solid; border-color: #b0b9c0">You are not enrolled to any modules this semester!</h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="taken" role="tabpanel" aria-labelledby="taken-tab">
                            <div class="tab-pane fade show active" id="enrolled" role="tabpanel" aria-labelledby="enrolled-tab">
                                <div class="container-fluid mt-4">
                                    <div class="row justify-content-center">
                                        {% for takenmod in takenmods %}
                                            <a href="{{ url_for('module', cid=takenmod.cid) }}">
                                                <div class="col-auto mb-3">
                                                        <div class="card" style="width: 15rem; height: 15rem" href="{{ url_for('module', cid=takenmod.cid) }}">
                                                        <div class="card-body">
                                                            <h6 class="card-subtitle mb-2 text-muted"><small>{{ takenmod.cid }}</small></h6>
                                                            <h6 class="card-title">{{ mods.query.filter_by(cid=takenmod.cid).first().cname }}</h6>
                                                        </div>
                                                        <span class="card-footer" style="background-color: #a1b4c2; color: #e8ebee">
                                                                <small>{{ takenmod.year }} Semester {{ takenmod.sem }}</small>
                                                        </span>
                                                    </div>
                                                </div> 
                                            </a>
                                        {% endfor %}      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock content %}
