{% extends 'layout.html' %}
{% block content %}
    <h2 class="border-bottom mb-4", style="text-align:center;">Forums</h2>
    <div class="container-fluid mt-4">
        <a href="{{ url_for('create_forum') }}"><button class="fluid ui teal button">New Forum</button></a>
        <div class="row justify-content-center">
            {% if forums %}
                {% for forum in forums %}
                    <div class="ui fluid card mt-4">
                        <a class="card-body unref2" href="{{ url_for('forum', cid=cid, fid=forum.fid) }}">
                            <h6 class="card-subtitle mb-2 text-muted" style="float: right"><small>{{ foruminfo.query.filter_by(fid=forum.fid).count() }}</small><i class="users icon ml-1"></i></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><small>{{ cid }}</small></h6>
                            <h6 class="card-title">{{ forum.title }}</h6>
                        </a>
                        <div class="card-footer unref2" style="background-color: #a1b4c2; color: #e8ebee;">
                            <small>{{ time_ago(forum.date_created) }}</small>
                        </div>
                </div>
                {% endfor %}
            {% else %}
                <h6 class="text-center" style="border-bottom: 2px solid; border-color: #b0b9c0">You have not created any forums yet. Go make some!</h6>
            {% endif %}
        </div>
    </div>
{% endblock content %}