<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
<script>
    $('.sidebar-menu').on('click', '.item', function() {
        if(!$(this).hasClass('dropdown')) {
            $(this).addClass('active').siblings('.item').removeClass('active');
        }
    });
</script>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function clickdrop() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

<!-- Save image -->
<script>
    $(document).ready(function() {
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function(){
            readURL(this);
        });
        $(".upload-button").on('click', function() {
            $(".file-upload").click();
        });
    });
</script>
<script>$('#homecarousel').carousel()</script>
<script>
    var startDate = new Date("July 24, 2019 00:00:00").getTime();
    var endDate = new Date("December 07, 2019 00:00:00").getTime();
    var total = endDate - startDate;

    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = now - startDate;
        var percent = distance * 100.0 / total;
            $('#examprogress').progress({
                percent: percent
            });
    }, 1000);
</script>
<script>
    var countDownDate = new Date("December 07, 2019 00:00:00").getTime();
    
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
    

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s " + "to Examination Week";

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "IT'S DOOMSWEEK!!";
        }
    }, 1000);
</script>
<!-- Semantic UI components -->
<script>$('.ui.dropdown').dropdown({ fullTextSearch: 'exact' });</script>
<script>$('.ui.dropdown-hov').dropdown({on: 'hover'});</script>
<script>$('.ui.accordion').accordion();</script>
<script>$('#searchme').search({ fullTextSearch: true})</script>
<script>$('#searchme').dropdown({ fullTextSearch: true})</script>
<script>
    $('.ui.rating').rating('setting', 'onRate', function(value) {
        id = $(this).data('id');
        $('#rating-' + id).val(value);
        $('#rateform-' + id).submit()
    });
</script>
<!-- <script>$('.ui.modal').modal();</script> -->
<script>
    $('.ui.message .close').on('click', function() {
        $(this).closest('.message').transition('fade');
    });
</script>
<script>
    $(document).ready(function(){
        $('.ui.reset').on('click', function() {
            $('.ui.form').form('reset');
        });
    });
</script>
<script>$('.ui.popup').popup();</script>
<script>
    $('.popup')
      .popup({
        hoverable: true,
        delay: { show: 400, hide: 200 }
    });
</script>
<script>
    $('.popup2')
        .popup({
        hoverable: true,
        delay: { show: 500, hide: 500 }
    });
</script>
<script>
    $('.popup2')
        .popup({
        hoverable: true,
        delay: { show: 500, hide: 500 }
    });
</script>
<script>
    $('.inline-popup').popup({
		inline   : true,
		hoverable: true,
		position : 'bottom right',
		delay: { show: 200, hide: 300 },
        variation: 'wide small'
    });
    $('.inline-popup2').popup({
		inline   : true,
		hoverable: true,
		position : 'top left',
		delay: { show: 200, hide: 300 },
        variation: 'wide small'
    });
 </script>
<script>
    (function($) {
        $.tablesort = function ($table, settings) {
            var self = this;
            this.$table = $table;
            this.$thead = this.$table.find('thead');
            this.settings = $.extend({}, $.tablesort.defaults, settings);
            this.$sortCells = this.$thead.length > 0 ? this.$thead.find('th:not(.no-sort)') : this.$table.find('th:not(.no-sort)');
            this.$sortCells.on('click.tablesort', function() {
                self.sort($(this));
            });
            this.index = null;
            this.$th = null;
            this.direction = null;
        };

        $.tablesort.prototype = {

            sort: function(th, direction) {
                var start = new Date(),
                    self = this,
                    table = this.$table,
                    rowsContainer = table.find('tbody').length > 0 ? table.find('tbody') : table,
                    rows = rowsContainer.find('tr').has('td, th'),
                    cells = rows.find(':nth-child(' + (th.index() + 1) + ')').filter('td, th'),
                    sortBy = th.data().sortBy,
                    sortedMap = [];

                var unsortedValues = cells.map(function(idx, cell) {
                    if (sortBy)
                        return (typeof sortBy === 'function') ? sortBy($(th), $(cell), self) : sortBy;
                    return ($(this).data().sortValue != null ? $(this).data().sortValue : $(this).text());
                });
                if (unsortedValues.length === 0) return;

                //click on a different column
                if (this.index !== th.index()) {
                    this.direction = 'asc';
                    this.index = th.index();
                }
                else if (direction !== 'asc' && direction !== 'desc')
                    this.direction = this.direction === 'asc' ? 'desc' : 'asc';
                else
                    this.direction = direction;

                direction = this.direction == 'asc' ? 1 : -1;

                self.$table.trigger('tablesort:start', [self]);
                self.log("Sorting by " + this.index + ' ' + this.direction);

                // Try to force a browser redraw
                self.$table.css("display");
                // Run sorting asynchronously on a timeout to force browser redraw after
                // `tablesort:start` callback. Also avoids locking up the browser too much.
                setTimeout(function() {
                    self.$sortCells.removeClass(self.settings.asc + ' ' + self.settings.desc);
                    for (var i = 0, length = unsortedValues.length; i < length; i++)
                    {
                        sortedMap.push({
                            index: i,
                            cell: cells[i],
                            row: rows[i],
                            value: unsortedValues[i]
                        });
                    }

                    sortedMap.sort(function(a, b) {
                        return self.settings.compare(a.value, b.value) * direction;
                    });

                    $.each(sortedMap, function(i, entry) {
                        rowsContainer.append(entry.row);
                    });

                    th.addClass(self.settings[self.direction]);

                    self.log('Sort finished in ' + ((new Date()).getTime() - start.getTime()) + 'ms');
                    self.$table.trigger('tablesort:complete', [self]);
                    //Try to force a browser redraw
                    self.$table.css("display");
                }, unsortedValues.length > 2000 ? 200 : 10);
            },

            log: function(msg) {
                if(($.tablesort.DEBUG || this.settings.debug) && console && console.log) {
                    console.log('[tablesort] ' + msg);
                }
            },

            destroy: function() {
                this.$sortCells.off('click.tablesort');
                this.$table.data('tablesort', null);
                return null;
            }

        };

        $.tablesort.DEBUG = false;

        $.tablesort.defaults = {
            debug: $.tablesort.DEBUG,
            asc: 'sorted ascending',
            desc: 'sorted descending',
            compare: function(a, b) {
                if (a > b) {
                    return 1;
                } else if (a < b) {
                    return -1;
                } else {
                    return 0;
                }
            }
        };

        $.fn.tablesort = function(settings) {
            var table, sortable, previous;
            return this.each(function() {
                table = $(this);
                previous = table.data('tablesort');
                if(previous) {
                    previous.destroy();
                }
                table.data('tablesort', new $.tablesort(table, settings));
            });
        };

    })(window.Zepto || window.jQuery);
</script>
<script>$('.ui.table-sort').tablesort()</script>
<script>
    $(document).ready(function(){
        $(".table-search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".table-filter tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
       
<script>
    $('.ui.form.login')
        .form({
            fields: {
                accountid: {
                    identifier: 'accountid',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter your Account ID'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter your password'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('.ui.form.group')
        .form({
            fields: {
                gname: {
                    identifier: 'gname',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a group name'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Group name must be at least {ruleValue} characters'
                        },
                        {
                            type   : 'maxLength[50]',
                            prompt : 'Group name is limited to {ruleValue} characters'
                        }
                    ]
                },
                ta: {
                    identifier: 'ta',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please select either a TA or none'
                        }
                    ]
                },
                students: {
                    identifier: 'students',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please select at least one student'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#showgroup').on('click', function(event){
            event.preventDefault();
            $('.ui.form.group').form('validate form')
            if ($('.ui.form.group').form('is valid')) {
                $('#groupmodal').transition({
                    animation: 'slide right out',
                    duration: '0.7s',
                    queue: false
                });
                setTimeout(function() {
                    $('#groupmodal2').delay(1000).transition({
                        animation: 'slide left in',
                        duration: '0.7s',
                        queue: false,});
                    }, 705);
                
                var gname = $('#gname').val();
                var ta = $('#ta').val();
                var Sstring = $('#students').val().split(',');
                {% if groupstudents is defined and groupstudents %}
                    var students = {{ groupstudents | tojson }};
                {% endif %}

                {% if groupsn is defined and groupsn %}
                    var sn = {{ groupsn | tojson }};
                {% endif %}

                var content = "<div><b>Module Code: {{ cid }}</b></div>";
                $('#modresult').html(content);

                content = "<div><b>Group Name: " + gname + "</b></div>";
                $('#gnameresult').html(content);

                if (ta == 'none') {
                    content = "<div><b>Teaching Assistant: <span class=\"text-muted\">NIL</span></b></div>";
                } else {
                    content = "<div><b>Teaching Assistant: " + students[ta] +  "</b></div>";
                }
                $('#taresult').html(content);

                var s1content = "", s2content = "", s3content = "", s4content = "", s5content = "";
                // var i = 0;
                for (var i = 0; i < sn[0].length; i++) {
                    for (var j = 0; j < Sstring.length; j++) {
                        if (Sstring[j] == sn[0][i]) {
                            s1content += '<div><b>' + students[Sstring[j]] + '</b></div>';
                        }
                    }
                }
                for (var i = 0; i < sn[1].length; i++) {
                    for (var j = 0; j < Sstring.length; j++) {
                        if (Sstring[j] == sn[1][i]) {
                            s2content += '<div><b>' + students[Sstring[j]] + '</b></div>';
                        }
                    }
                }
                for (var i = 0; i < sn[2].length; i++) {
                    for (var j = 0; j < Sstring.length; j++) {
                        if (Sstring[j] == sn[2][i]) {
                            s3content += '<div><b>' + students[Sstring[j]] + '</b></div>';
                        }
                    }
                }
                for (var i = 0; i < sn[3].length; i++) {
                    for (var j = 0; j < Sstring.length; j++) {
                        if (Sstring[j] == sn[3][i]) {
                            s4content += '<div><b>' + students[Sstring[j]] + '</b></div>';
                        }
                    }
                }
                for (var i = 0; i < sn[4].length; i++) {
                    for (var j = 0; j < Sstring.length; j++) {
                        if (Sstring[j] == sn[4][i]) {
                            s5content += '<div><b>' + students[Sstring[j]] + '</b></div>';
                        }
                    }
                }
                content = '<div class="ui five column center aligned grid">\
                                <div class="column">' + s1content + '</div>\
                                <div class="column">' + s2content + '</div>\
                                <div class="column">' + s3content + '</div>\
                                <div class="column">' + s4content + '</div>\
                                <div class="column">' + s5content + '</div>\
                            </div>'
                $('#studentresult').html(content);               
            }
        });
    });
</script>
<script>$('#submitgroupform').on('click', function() {$('.ui.form.group').form('submit')});</script>
<script>
    $(document).ready(function() {
        $('#showform').on('click', function(){
            $('#groupmodal2').transition({
                animation: 'slide left out',
                duration: '0.7s',
                queue: false
            });
            setTimeout(function() {
                $('#groupmodal').delay(1000).transition({
                    animation: 'slide right in',
                    duration: '0.7s',
                    queue: false,});
                }, 705);
        });
    });
</script>
<script>
    $('.ui.form.forum')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a forum title'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Forum title must be at least {ruleValue} characters'
                        },
                        {
                            type   : 'maxLength[60]',
                            prompt : 'Forum title is limited to {ruleValue} characters'
                        }
                    ]
                },
                groups: {
                    identifier: 'groups',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please select at least one group'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('.ui.form.thread')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a thread title'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Thread title must be at least {ruleValue} characters'
                        },
                        {
                            type   : 'maxLength[60]',
                            prompt : 'Thread title is limited to {ruleValue} characters'
                        }
                    ]
                },
                content: {
                    identifier: 'content',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a comment'
                        },
                        {
                            type   : 'maxLength[5000]',
                            prompt : 'Content is limited to {ruleValue} characters'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('.ui.form.post')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a post title'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Post title must be at least {ruleValue} characters'
                        },
                        {
                            type   : 'maxLength[60]',
                            prompt : 'Post title is limited to {ruleValue} characters'
                        }
                    ]
                },
                content: {
                    identifier: 'content',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a comment'
                        },
                        {
                            type   : 'maxLength[5000]',
                            prompt : 'Content is limited to {ruleValue} characters'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('.ui.form.comment')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a post title'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Post title must be at least {ruleValue} characters'
                        },
                        {
                            type   : 'maxLength[60]',
                            prompt : 'Post title is limited to {ruleValue} characters'
                        }
                    ]
                },
                content: {
                    identifier: 'content',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a reply'
                        },
                        {
                            type   : 'maxLength[5000]',
                            prompt : 'Content is limited to {ruleValue} characters'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('.ui.form.rank1')
        .form({
            fields: {
                minpost: {
                    identifier: 'minpost',
                    optional: true,
                    rules: [
                        {
                            type   : 'integer',
                            prompt : 'Only integers 0 and above are accepted'
                        },
                        {
                            type   : 'doesntContain[-]',
                            prompt : 'Only integers 0 and above are accepted'
                        },
                    ]
                },
                pos: {
                    identifier: 'pos',
                    optional: true,
                    rules: [
                        {
                            type   : 'integer',
                            prompt : 'Only positive integers are accepted'
                        },
                        {
                            type   : 'doesntContain[-]',
                            prompt : 'Only positive integers are accepted'
                        },
                        {
                            type   : 'notExactly[0]',
                            prompt : 'Only positive integers are accepted'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
    $('.ui.form.rank2')
        .form({
            fields: {
                minpost2: {
                    identifier: 'minpost2',
                    optional: true,
                    rules: [
                        {
                            type   : 'integer',
                            prompt : 'Only integers 0 and above are accepted'
                        },
                        {
                            type   : 'doesntContain[-]',
                            prompt : 'Only integers 0 and above are accepted'
                        },
                    ]
                },
                pos2: {
                    identifier: 'pos2',
                    optional: true,
                    rules: [
                        {
                            type   : 'integer',
                            prompt : 'Only positive integers are accepted'
                        },
                        {
                            type   : 'doesntContain[-]',
                            prompt : 'Only positive integers are accepted'
                        },
                        {
                            type   : 'notExactly[0]',
                            prompt : 'Only positive integers are accepted'
                        }
                    ]
                }
            },
        inline : true,
        on : 'blur'
    });
</script>
<script>
    $('#rank1').click(function() {
        if ($('.ui.form.rank1').form('is valid')) {
            var minpost = $('#minpost').val();
            var pos = $('#pos').val()
            $('#customrank tr').show();
            $('#customrank tr td.totalpost').each(function() {
                if ($(this).text() < minpost)
                {
                    $(this).parent().hide();
                }
            });
            $('#customrank tr td.rank').each(function() {
                if ($(this).text() > pos)
                {
                    $(this).parent().hide();
                }
            });
        }
    });
</script>
<script>
    $('.next-page').transition({
        animation: 'slide down in',
        duration: '0.8s'
    });
</script>
<script>
    $('#nav-menu-sidebar').hover( 
        function() {
        $('#nav-sidebar').transition({
            animation: 'slide down',
            duration: '0.9s',
            queue: false
        });
    });
    $('#nav-sidebar').hover(function() {
        $('#nav-sidebar').css('visibility', 'visible');
    });
</script>
<script>
    $('.logo-anim').hover(function() {
        $(this).transition({
            animation: 'bounce',
            duration: '1s',
            queue: false
        });
    });
</script>
<script>
    $('.show-bread-bar').transition({
        animation: 'slide down in',
        duration: '0.9s',
        queue: false,
    });
</script>
<script>
    $('#menu-bread-bar').hover( 
        function() {
        $('#bread-bar').transition({
            animation: 'slide down',
            duration: '0.9s',
            queue: false,
        });
    });
</script>