{% extends 'layout.html' %}
{% block content %}
    <h2 class="border-bottom mb-4", style="text-align:center;">Teaching Assistant Forums</h2>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% if forums %}
                {% for forum in forums %}
                    <div class="ui fluid card mt-4">
                        <a class="card-body unref2" href="{{ url_for('forum', cid=forum.info.prof.cid, fid=forum.info.fid) }}">
                            <h6 class="card-subtitle mb-2 text-muted" style="float: right"><small>{{ foruminfo.query.filter_by(fid=forum.fid).count() }}</small><i class="users icon ml-1"></i></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><small>{{ forum.info.prof.cid }}</small></h6>
                            <h6 class="card-title">{{ forum.info.title }}</h6>
                        </a>
                        <div class="card-footer unref2" style="background-color: #a1b4c2; color: #e8ebee;">
                            <small>{{ time_ago(forum.info.date_created) }}</small>
                        </div>
                </div>
                {% endfor %}
            {% else %}
                <h6 class="text-center" style="border-bottom: 2px solid; border-color: #b0b9c0">You are not in any forum.</h6>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block bread %}
<div class="ui right fixed secondary vertical inverted menu hidden-sidebar" id="bread-bar" style="text-align: center; min-width: 20rem; padding-top: 5rem; background-color: black; background:rgba(0, 0, 0, 0.5); overflow: auto">
    <div class="bread-header" style="color: white; font-size: 14pt"><i class="icon compass outline mr-2"; style="color: white"></i>Navigation</div>
    <div class="ui breadcrumb" style="background-color: transparent;">
        <a class="section unrefany" href="{{ url_for('home') }}"><div class="menu-dropdown-item bread-header">Home</div></a>
        <br><br><i class="down chevron icon divider" style="color: white"></i>
		<br><br><a class="section unrefany" href="{{ url_for('module_take', cid=cid) }}"><div class="menu-dropdown-item bread-header">TA Module: {{ cid }}</div></a>
        <br><br><i class="down chevron icon divider" style="color: white"></i>
		<br><br><div class="active section bread-header" style="color: white">TA Forums</div>
	</div>
</div>
{% endblock bread %}