body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-paleblue {
  background-color: #cbd8e0
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=256');
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content-section:hover {
  border: 1px solid #478797
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.nav-tabs > a.nav-color {
  color: #333;
  font-weight: bold;
}

.nav-tabs > a.nav-color:hover, .nav-tabs > a.nav-color:focus {
  background: #aebdca;
}


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4f576b;
    background-color: transparent;
    border-color: #3b3d44;
    border-bottom: 4px solid !important;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #62829e;
    font-weight: bold;
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* .click a {
  display: block
} */
